.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photo-icon {
  margin-right: 20px;
}

.album-header {
  padding-top: 50px;
}

.card-grid {
  padding: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
}

.card > .card-media {
  height: 200px;
}

.card > .card-content {
  flex-grow: 1;
}

.footer {
  background-color: #282c34;
  color: white;
  padding: 20px 0;
}