html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Set the width and color of the scrollbar track */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

/* Set the width and color of the scrollbar thumb */
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

/* Change the appearance of the scrollbar when hovering over it */
::-webkit-scrollbar-thumb:hover {
  background-color: #505050;
}

.no-scrollbar-y::-webkit-scrollbar {
  width: 0;
}

.flex-center {
  display: flex;
  align-items: center;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar{
  border:none;
  outline:none;
  width:350px;
}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}

.red-text {
  color: #FC1503;
}

.channel-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.channel-box {
  background: linear-gradient(90deg, rgba(0,238,247,1) 0%, rgba(63,216,231,1) 1%, rgba(248,0,255,1) 89%);
  z-index: 10;
  height: 300px;
}

.playlist-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.playlist-banner {
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,84,253,1) 100%)
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }
}

@media screen and (max-width:800px){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar{
    width:200px;
  }
}