.SubtitleCard {
  width: 100%;
  margin-bottom: 20px;
  & > div {
    background-color: #424242;
    padding: 20px;
    border: 2px solid rgba(#90caf9, 0.0);
    transition: all ease-in .2s;
  }
  cursor: pointer;
  &:hover,
  &:focus {
    outline: none;
    
  }
  &:hover {
    & > div {
        border: 2px solid rgba(#90caf9, 0.4);
      }
  }
}
.ActiveCard {
  & > div {
    border: 2px solid rgba(#90caf9, 1);
  }
  &:hover {
    & > div {
        border: 2px solid rgba(#90caf9, 1);
      }
  }
}
.Text {
  font-size: 14px;
  color: #fff;
}

.CardBottom {
  display: flex;
  justify-content: space-between;
  span {
    font-size: 12px;
  }
}
.StartTime {
  color: rgb(183, 223, 185);
}
.EndTime {
  color: rgb(250, 179, 174);
}
