.VideoSubtitlesPlayerWrapper {
    width: calc(100% - 400px);
    padding: 10px;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}